$primary: #000000;
$white: #ffffff;
$secondary: #9197b3;
$text_grey: #838383;
$table_grey: #b5b7c0;
$active: #5932ea;
$main_background: rgba(145, 151, 179, 0.15);

$green: #16c098;
$input_background: #f9fbff;
